<body class="about-us">
	<div class="page-header header-filter header-small" data-parallax="true"
		style="background-image: url('assets/img/world2.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="title">A propos de nous</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="container">
			<div class="about-team team-1">
				<div class="row">
					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="card-avatar">
								<a href="#presentation" data-toggle="modal">
									<img class="img" src="../assets/img/4.png" />
								</a>
							</div>

							<div class="card-content">
								<a href="#presentation" data-toggle="modal">
									<h4 class="card-title">Présentation</h4>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="card-avatar">
								<a href="#vision" data-toggle="modal">
									<img class="img" src="../assets/img/500.png" />
								</a>
							</div>

							<div class="card-content">
								<a href="#vision" data-toggle="modal">
									<h4 class="card-title">Vision</h4>
								</a>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="card card-profile card-plain">
							<div class="card-avatar">
								<a href="#valeuretphilosophie" data-toggle="modal">
									<img class="img" src="../assets/img/1.png" />
								</a>
							</div>

							<div class="card-content">
								<a href="#valeuretphilosophie" data-toggle="modal">
									<h4 class="card-title">Valeur & Philosophie</h4>
								</a>

							</div>
						</div>
					</div>
				</div>

			</div>
			
		</div>

		<body class="section-white">
			<!--     *********     FEATURES 5      *********      -->
		
			<div class="features-5" style="background-image: url('assets/img/bg9.jpg')">
		
				<div class="col-md-8 col-md-offset-2 text-center">
					<h2 class="title">Domaines d'activité</h2>
				</div>
		
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">code</i>
								</div>
								<h4 class="info-title">Solution Web</h4>
								<p>Conception de blog, Conception de site web, conception d'application web & mobile, conception de commerce en ligne, Marketing Digital, SEO...</p>
							</div>
						</div>
		
						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">format_paint</i>
								</div>
								<h4 class="info-title">Design Graphique</h4>
								<p>Identité visuelle, flyers, poster, présentation, production photo & vidéos, web design. </p>
							</div>
						</div>
		
						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">dashboard</i>
								</div>
								<h4 class="info-title">Génie logiciel</h4>
								<p>Conception de logiciel Desktop & mobile pour vous aider à faciliter la gestion de vos différentes taches. </p>
							</div>
						</div>
		
					</div>
		
					<div class="row">
		
						<div class="col-sm-4">
							<div class="info">
								<div class="icon">
									<i class="material-icons">view_carousel</i>
								</div>
								<h4 class="info-title">Gestion de base de données</h4>
								<p>Gestion de données online & offline, administration de sites web & résaux sociaux, création de base de donnée, utilisation de API. </p>
							</div>
						</div>
					</div>
		
				</div>
			</div>
		
			<!--     *********    END FEATURES 5      *********      -->
		</body>
	</div>


	<!-- Presentation Modal -->
	<div class="modal fade" id="presentation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-signup">
			<div class="modal-content">
				<div class="card card-signup card-plain">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
								class="material-icons">clear</i></button>
						<h2 class="modal-title card-title text-center" id="myModalLabel">Présentation</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<div class="info info-horizontal">
									<div class="icon icon-rose">
										<i class="material-icons">star_rate</i>
									</div>
									<div class="description">
										<h4 class="info-title">Definition</h4>
										<p class="description">
											IvoireLight Technologies est une société de développement de produits et de
											services informatiques basé à Abidjan (Cote d’Ivoire) précisement à
											Cocody-Riviera Attoban Lauriers 3.
										</p>
									</div>
								</div>

								<div class="info info-horizontal">
									<div class="icon icon-primary">
										<i class="material-icons">code</i>
									</div>
									<div class="description">
										<h4 class="info-title">Mission</h4>
										<p class="description">
											Sa mission première est de proposer des solutions informatiques qui
											repondront éfficacement aux besoins de la population ivoirienne et
											africaine.
										</p>
									</div>
								</div>

								<div class="info info-horizontal">
									<div class="icon icon-info">
										<i class="material-icons">group</i>
									</div>
									<div class="description">
										<h4 class="info-title">Objectif</h4>
										<p class="description">
											Soucieux de satisfaire vos attentes et conscient de l’importance des
											moindres détails de vos besoins, IvoireLight Technologies s’engage à mettre
											à votre disposition une équipe d’expert pour vous conseiller et vous
											accompagner de la conception-réalisation de votre projet à sa maintenance.
										</p>
									</div>
								</div>
							</div>


							<div class="col-md-5 col-md-offset-1">
								<div class="info info-horizontal">
									<div class="icon icon-rose">
										<i class="material-icons">timeline</i>
									</div>
									<div class="description">
										<h4 class="info-title">Nos Cibles</h4>
										<p class="description">
											Nous ne visons pas exclusivement un secteur en particulier car nous sommes
											ouvert à tous secteurs d’activités.
											Pour chaque type de clients, en fonction de leurs projets, attentes et
											réalité, IvoireLight Technologies propose des solutions adaptés et
											innovantes afin de permettre à chaque client d’atteindre ses objectifs de
											développement et de croissance à travers le digital.
										</p>
									</div>
								</div>
							</div>

							<div class="col-md-5 col-md-offset-1">
								<div class="card-image">
									<img class="img img-raised" src="assets/img/ilt.jpg">
									<div class="colored-shadow"
										style="background-image: url(&quot;assets/img/ilt.jpg&quot;); opacity: 1;">
									</div>
									<div class="ripple-container"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  End Modal -->

	<!-- Vision -->
	<div class="modal fade" id="vision" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-signup">
			<div class="modal-content">
				<div class="card card-signup card-plain">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
								class="material-icons">clear</i></button>
						<h2 class="modal-title card-title text-center" id="myModalLabel">Notre Vision</h2>
					</div>
					<br><br>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<div class="info info-horizontal">
									<div class="description">
										<h5 class="text-justify">
											L’objectif à long terme et l’essence même de la naissance de IvoireLight
											Technologies est de faire de la Côte d’Ivoire une des plaques tournantes des
											technologies en Afrique, mettre sur pied des instituts de formation, créer
											des écoles, attirer en Côte d’Ivoire les géants mondiaux de l’informatique.
											Nous croyons en l’esprit d’équipe et à la reputation du travail bien fait,
											pour cela nous fournissons des solutions IT innovantes et adaptées aux
											besoins des populations. Nous voulons que notre société se singularise des
											autres agences, en faisant de “la satisfaction du client avant tout” sa
											devise, de ce fait nous mettons à disposition notre expertise pour vous
											conseiller et vous accompagner. Grace à une équipe multidisciplinaire et
											chevronnée, nous assurons un travail de qualité à notre clientèle.
										</h5>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<br>
								<br>
								<br>
								<div class="card-image">
									<img class="img img-raised" src="assets/img/ilt.jpg">
									<div class="colored-shadow"
										style="background-image: url(&quot;assets/img/ilt.jpg&quot;); opacity: 1;">
									</div>
									<div class="ripple-container"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  End Modal -->

	<!-- Valeur & Philosophie -->
	<div class="modal fade" id="valeuretphilosophie" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-signup">
			<div class="modal-content">
				<div class="card card-signup card-plain">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i
								class="material-icons">clear</i></button>
						<h2 class="modal-title card-title text-center" id="myModalLabel">Valleurs & Philosophie</h2>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-5 col-md-offset-1">
								<div class="info info-horizontal">
									<div class="icon icon-rose">
										<i class="material-icons">loop</i>
									</div>
									<div class="description">
										<h4 class="info-title">Notre Philosophie</h4>
										<p class="description">
											La philosophie de notre entreprise part du principe que les membres de notre
											équipe doivent assumer un haut degré de responsabilité, de rigueur et de
											concentration au quotidien à l’intérieur de leur fonction.
											Le sentiment d’appartenance à une même famille,la proximité, ainsi que des
											relations durables avec nos employés, clients et partenaires nous tiennent
											tout particulièrement à cœur.
											Nous ne minimisons aucun projet, et nous travaillons avec toute notre
											expertise sur chaque projet comme si c'était le seul que nous avions à
											faire.
										</p>
									</div>
								</div>

								<div class="info info-horizontal">
									<div class="icon icon-danger">
										<i class="material-icons">favorite</i>
									</div>
									<div class="description">
										<h4 class="info-title">Nos Valeurs</h4>
										<p class="description">
											L’authenticité, la transparence, l’innovation, la passion, la
											responsabilité, l’engagement et le respect des autres arrivent en tete de
											liste des valeurs de notre entreprise.
											Les valeurs de IvoireLight Technologies sont presentes dans tout ce que nous
											entreprenons, en passant par l’implication sociale, notre style de gestion
											et nos rélations avec nos clients et partenaires.
										</p>
									</div>
								</div>
							</div>

							<div class="col-md-6">
								<br>
								<br>
								<br>
								<div class="card-image">
									<img class="img img-raised" src="assets/img/ilt.jpg">
									<div class="colored-shadow"
										style="background-image: url(&quot;assets/img/ilt.jpg&quot;); opacity: 1;">
									</div>
									<div class="ripple-container"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  End Modal -->
</body>

