<body class="presentation-page">
    <div class="header-3">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="page-header header-filter" data-parallax="true"
                            style="background-image: url('assets/img/dg1.jpg');">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <h1 class="title">GENIE LOGICIEL</h1>
                                        <h4>Donnez vie à vos projets</h4>
                                        <br />

                                        <div class="buttons">
                                            <a href="#pablo" class="btn btn-danger btn-lg">
                                                <i class="material-icons">read_more</i> Read More
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-get-pocket"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="page-header header-filter" data-parallax="true"
                            style="background-image: url('assets/img/dg2.jpg');">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2 text-center">
                                        <h1 class="title">APP MOBILE & WEB</h1>
                                        <h4>Nous sommes juste inovateur.</h4>
                                        <br />

                                        <div class="buttons">
                                            <a href="#pablo" class="btn btn-danger btn-lg">
                                                <i class="material-icons">read_more</i> Read More
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-get-pocket"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="item">
                        <div class="page-header header-filter" data-parallax="true"
                            style="background-image: url('assets/img/dg3.jpg');">

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5 text-right">
                                        <h1 class="title">IDENTITE VISUELLE</h1>
                                        <h4>Branding - Design - Photo</h4>
                                        <br />

                                        <div class="buttons">
                                            <a href="#pablo" class="btn btn-danger btn-lg">
                                                <i class="material-icons">read_more</i> Read More
                                            </a>

                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="#pablo" class="btn btn-just-icon btn-white btn-simple btn-lg">
                                                <i class="fa fa-get-pocket"></i>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <i class="material-icons">keyboard_arrow_left</i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <i class="material-icons">keyboard_arrow_right</i>
                </a>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3 class="description text-center">
                            <strong class="title">BIENVENUE À IVOIRELIGHT TECHNOLOGIES</strong>
                        </h3>
                        <blockquote>
                            IvoireLight Technologies est une société de developement de produits et services
                            informatique. Sa mission première est de proposer des solutions informatique qui répondront
                            éfficacement aux besoins de la population Ivoirienne et Affricaine.

                        </blockquote>
                    </div>



                    <div class="col-md-3">
                        <div class="info info-horizontal">
                            <div class="icon icon-info">
                                <i class="material-icons">domain</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Pourquoi nous ?</h4>
                                <p>
                                    IvoireLight Technologies croit en l'esprit d'équipe, aspire à la réputation du
                                    travail
                                    bien fait et bien fournis des solution IT innovantes et adaptées à vos besoins.
                                </p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="info info-horizontal">
                            <div class="icon icon-danger">
                                <i class="material-icons">settings</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Domaines d'activité</h4>
                                <p>Nous vous proposons une offre de service intégrés, composés de cinq(5)
                                    grands domaines d'activités et d'expertise métier.</p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info info-horizontal">
                            <div class="icon icon-default">
                                <i class="material-icons">help</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">FAQ</h4>
                                <p>Certaines questions qui nous sont posées par nos clients ont été sujet
                                    d'une synthèse et sont disponible pour vous éclairer.</p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="info info-horizontal">
                            <div class="icon icon-success">
                                <i class="material-icons">group</i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Une équipe dynamique</h4>
                                <p>Grace à une équipe multidisciplinaire, dynamique et chevronnée,
                                    nous assurons un travail de qualité à notre clientèle.</p>
                                <a href="#pablo">Find more...</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!--     *********    PRICING 5     *********      -->
        <div class="pricing-5 section-gray" id="pricing-5">

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="title">NOS PRESTATIONS</h2>
                        <ul class="nav nav-pills" role="tablist">
                            <li class="active">
                                <a href="#personal" role="tab" data-toggle="tab">
                                    Dev
                                </a>
                            </li>
                            <li>
                                <a href="#commercial" role="tab" data-toggle="tab">
                                    Design
                                </a>
                            </li>
                            <li>
                                <a href="#commercial2" role="tab" data-toggle="tab">
                                    Vente
                                </a>
                            </li>
                        </ul>

                        <p class="text-gray">You have Free Unlimited Updates and Premium Support on each package. You
                            also have 20 days to request a refund if you're not happy with your purchase.</p>
                    </div>

                    <div class="col-md-7 col-md-offset-1">
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="personal">
                                <div class="col-md-12">
                                    <div class="card card-pricing card-background" style="background-image: url('assets/img/examples/dev.jpg');"     >
                                        <div class="card-content">
                                            <a href="#pablo">
                                                <h3 class="card-title">Developpement Web</h3>
                                            </a>
                                            <div class="">
                                                <br>
                                                <br>
                                                <br>
                                            </div>
                                            <h5 class="category text-info text-justify">
                                                IvoireLight Technologies vous propose des solutions techniques, éfficace et approprier à votre secteur d’activité pour mener à bien la conception de vos sites web & applications mobile selon vos criteres et exigences.
                                            </h5>

                                            <div class="footer text-center">
                                                <a href="#pablo" class="btn btn-primary btn-round">
                                                    Voir 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="commercial">
                                <div class="col-md-12">
                                    <div class="card card-pricing card-background" style="background-image: url('assets/img/examples/card-project5.jpg');"     >
                                        <div class="card-content">
                                            <a href="#pablo">
                                                <h3 class="card-title">Design Graphique</h3>
                                            </a>
                                            <div class="">
                                                <br>
                                                <br>
                                            </div>
                                            <h5 class="category text-info text-left">
                                                Afin de conserver la cohérence de votre image corporative sur différents moyens de communications, nous vous proposons un éventail complet de services de création graphique, 
                                                de la création de logo à la mise en place d’un cahier de normes graphiques.
                                            </h5>

                                            <div class="footer text-center">
                                                <a href="#pablo" class="btn btn-primary btn-round">
                                                    Voir 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="commercial2">
                                <div class="col-md-12">
                                    <div class="card card-pricing card-background" style="background-image: url('assets/img/examples/vente.jpg')">
                                        <div class="card-content">
                                            <a href="#pablo">
                                                <h3 class="card-title">Vente d'appereil Electrobiqque</h3>
                                            </a>
                                            <div class="">
                                                <br>
                                                <br>
                                                <br>
                                            </div>
                                            <h5 class="category text-info text-left">
                                                IvoireLight Technologies met en vente plusieurs articles électroniques à la pointes de la technologies. Notament les telephones mobile, les outils informatique, des consoles de jeux et bien d'autres.
                                            </h5>

                                            <div class="footer text-center">
                                                <a href="#pablo" class="btn btn-primary btn-round">
                                                    Voir 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
        <!--     *********    END PRICING 5      *********      -->


        <!--     *********     BLOGS 2      *********      -->
        <div class="blogs-2" id="blogs-2">

            <div class="container">
                <div class="row">

                    <div class="col-md-10 col-md-offset-1">
                        <h2 class="title text-center">Les dernières nouvelles</h2>

                        <br />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card card-blog">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img src="assets/img/examples/color1.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <h6 class="category text-warning">Dynamic Shadows</h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">The image from this card is getting a yellow shadow</a>
                                        </h4>
                                    </div>
    
                                </div>
                            </div>
    
                            <div class="col-md-4">
    
                                <div class="card card-blog">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img src="assets/img/examples/color2.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <h6 class="category text-rose">Dynamic Shadows</h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">The image from this card is getting a pink shadow</a>
                                        </h4>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="col-md-4">
    
                                <div class="card card-blog">
                                    <div class="card-image">
                                        <a href="#pablo">
                                            <img src="assets/img/examples/color3.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="card-content">
                                        <h6 class="category text-info">Dynamic Shadows</h6>
                                        <h4 class="card-title">
                                            <a href="#pablo">The image from this card is getting a blue shadow</a>
                                        </h4>
                                    </div>
                                </div>
    
                            </div>
                        </div>

                    </div>

                </div>



            </div>
        </div>
        <!--     *********    END BLOGS 2      *********      -->


        <div class="section section-overview">
            <div class="features-5" style="background-image: url('assets/assets-for-demo/features-5.jpg')">


                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Nos dernières réalisations</h2>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card card-plain">
                                <a href="http://www.creative-tim.com/product/material-kit"
                                    target="_blank">
                                    <div class="card-image">
                                        <img
                                            src="http://s3.amazonaws.com/creativetim_bucket/products/38/original/opt_mk_thumbnail.jpg?1458052306" />
                                    </div>
                                </a>
                                <div class="card-content">
                                    <a href="http://www.creative-tim.com/product/material-kit"
                                        target="_blank">
                                        <h4 class="card-title">Material Kit Free</h4>
                                    </a>
                                    <h6 class="category">Free UI Kit</h6>
                                    <p class="card-description">
                                        Material Kit is a Free Bootstrap UI Kit with a fresh, new design
                                        inspired by Google's material design. It's a great pleasure to
                                        introduce to you the material concepts in an easy to use and
                                        beautiful set of components.
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-3">
                            <div class="card card-plain">
                                <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro"
                                    target="_blank">
                                    <div class="card-image">
                                        <img
                                            src="http://s3.amazonaws.com/creativetim_bucket/products/38/original/opt_mk_thumbnail.jpg?1458052306" />
                                    </div>
                                </a>
                                <div class="card-content">
        
                                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro"
                                        target="_blank">
                                        <h4 class="card-title">Light Bootstrap Dashboard</h4>
                                    </a>
                                    <h6 class="category">Premium Template</h6>
                                    <p class="card-description">
                                        Light Bootstrap Dashboard PRO is a Bootstrap Admin Theme
                                        designed to look simple and beautiful. Forget about boring
                                        dashboards and grab yourself a copy to kickstart new project!
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-3">
                            <div class="card card-plain">
                                <a href="http://www.creative-tim.com/product/get-shit-done-pro"
                                    target="_blank">
                                    <div class="card-image">
                                        <img
                                            src="http://s3.amazonaws.com/creativetim_bucket/products/26/original/opt_gsdk_new_thumbnail.jpg" />
                                    </div>
                                </a>
                                <div class="card-content">
                                    <a href="http://www.creative-tim.com/product/get-shit-done-pro"
                                        target="_blank">
                                        <h4 class="card-title">Get Shit Done Kit PRO</h4>
                                    </a>
                                    <h6 class="category text-info">Premium UI Kit</h6>
                                    <p class="card-description">
                                        Get Shit Done Kit Pro it's a Bootstrap Kit that comes with a
                                        huge number of customisable components. They are pixel perfect,
                                        light and easy to use and combine with other elements.
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-sm-3">
                            <div class="card card-plain">
                                <a href="http://www.creative-tim.com/product/get-shit-done-pro"
                                    target="_blank">
                                    <div class="card-image">
                                        <img
                                            src="http://s3.amazonaws.com/creativetim_bucket/products/26/original/opt_gsdk_new_thumbnail.jpg" />
                                    </div>
                                </a>
                                <div class="card-content">
                                    <a href="http://www.creative-tim.com/product/get-shit-done-pro"
                                        target="_blank">
                                        <h4 class="card-title">Get Shit Done Kit PRO</h4>
                                    </a>
                                    <h6 class="category text-info">Premium UI Kit</h6>
                                    <p class="card-description">
                                        Get Shit Done Kit Pro it's a Bootstrap Kit that comes with a
                                        huge number of customisable components. They are pixel perfect,
                                        light and easy to use and combine with other elements.
                                    </p>
                                </div>
                            </div>
                        </div>
                        
        
                    </div>
                </div>
            </div>
            <div class="about-services features-2">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="title">Notre processus de travail</h2>
                    <h5 class="description">
                        À IvoireLight Technologies, nous accordons une grande importance à vos avis et vos goût. Et pour cela, nous vous faisons participer à chaque étape de la réalisation de votre projet.
                    </h5>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-md-offset-1">
                            <div class="col-md-4">
                                <div class="info info-horizontal">
                                    <div class="icon icon-rose">
                                        <i class="material-icons">mark_chat_read</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">1. DISCUSSION</h4>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="info info-horizontal">
                                    <div class="icon icon-rose">
                                        <i class="material-icons">design_services</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">2. CONCEPTION</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="info info-horizontal">
                                    <div class="icon icon-rose">
                                        <i class="material-icons">build</i>
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">3. PRODUCTION</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>