<body class="profile-page">
	<div class="page-header header-filter header-small" data-parallax="true"
		style="background-image: url('../assets/img/bg9.jpg');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="title text-center">Nos Réalisations</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="main main-raised">
		<div class="profile-content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="profile-tabs">
							<div class="nav-align-center">
								<ul class="nav nav-pills nav-pills-icons" role="tablist">
									<li class="active colo1">
										<a href="#work" role="tab" data-toggle="tab">
											<i class="material-icons">important_devices</i>
											Web
										</a>
									</li>
									<li class="colo2">
										<a href="#connections" role="tab" data-toggle="tab">
											<i class="material-icons">apps</i>
											Logiciel
										</a>
									</li>
									<li class="colo3">
										<a href="#media" role="tab" data-toggle="tab">
											<i class="material-icons">palette</i>
											Design
										</a>
									</li>
								</ul>


							</div>
						</div>
						<!-- End Profile Tabs -->
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active text-center gallery" id="work">
						<div class="row">
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/ecodim_blog.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-primary">Blog</label>
										<a href="#pablo">
											<h4 class="card-title">Ecodim Assemblée de Dieu Akouédo-Sydes</h4>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/ecodim_app.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-primary">App web</label>
										<a href="#pablo">
											<h4 class="card-title">Ecodim Assemblée de Dieu Akouédo-Sydes</h4>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/methodex.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-primary">Site Web</label>
										<a href="#pablo">
											<h4 class="card-title">Methodex Consulting</h4>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/synergy.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-primary">Site Web</label>
										<a href="#pablo">
											<h4 class="card-title">Synergy Industry</h4>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane text-center gallery" id="connections">
						<div class="row">
							<div class="text-center">
								<h3 class="title">Pas disponible</h3>
							</div>
						</div>
					</div>
					<div class="tab-pane text-center gallery" id="media">
						<div class="row">
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/Design_Methodex.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-warning">Identité Visuelle</label>
										<a href="#pablo">
											<h4 class="card-title">Methodex Consulting</h4>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/Design_Synergy.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-warning">Identité Visuelle</label>
										<a href="#pablo">
											<h4 class="card-title">Synergy Industry</h4>
										</a>
									</div>
								</div>
							</div> <!--
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/methodex.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-warning">Site Web</label>
										<a href="#pablo">
											<h4 class="card-title">Methodex Consulting</h4>
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-background"
									style="background-image: url('assets/img/works/synergy.jpg')">
									<a href="#pablo"></a>
									<div class="card-content">
										<label class="label label-warning">Site Web</label>
										<a href="#pablo">
											<h4 class="card-title">Synergy Industry</h4>
										</a>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>