<body class="presentation-page" >
    <nav class="navbar navbar-default navbar-transparent navbar-fixed-top navbar-color-on-scroll" id="sectionsNav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=""><img src="assets/img/h.png" alt=""></a>
            </div>

            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/" class="nav-link" >
                            <i class="material-icons">home</i> Home
                        </a>
                    </li>

                    <li class="dropdown db58">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="material-icons">view_day</i> Services
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-with-icons">
                            <li>
                                <a href="sections.html#headers">
                                    <i class="material-icons">important_devices</i> Developpement Web
                                </a>
                            </li>
                            <li>
                                <a href="sections.html#features">
                                    <i class="material-icons">apps</i> Génie Logiciel
                                </a>
                            </li>
                            <li>
                                <a href="sections.html#blogs">
                                    <i class="material-icons">architecture</i> Design
                                </a>
                            </li>

                        </ul>
                    </li>
                    
                    <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/about-us" class="nav-link" >
                            <i class="material-icons">people</i> About
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/portfolio" class="nav-link" >
                            <i class="material-icons">assignment</i> works
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/news" class="nav-link" >
                            <i class="material-icons">art_track</i> Blog
                        </a>
                    </li>

                    <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        <a routerLink="/contact-us" class="nav-link" >
                            <i class="material-icons">call</i> contact
                        </a>
                    </li>

                    

                    <li class="nav-item" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">
                        <a routLink="/quotes"
                            class="btn btn-rose btn-round">
                            <i class="material-icons">settings</i> Quotes
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
