<body class="prenstation-page">
    <footer class="footer footer-white">
        <div class="container">
            <a class="footer-brand" href="">IvoireLight Technologies</a>

            <ul class="pull-center">
                <li>
                    <a routerLink="/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="bz-carter">
                        FAQ
                    </a>
                </li>
                <li>
                    <a  routerLink="/news">
                        News
                    </a>
                </li>
                <li>
                    <a href="bz-carter">
                        Pricing
                    </a>
                </li>
            </ul>

            <ul class="social-buttons pull-right">
                <li>
                    <a href="https://twitter.com/"
                        class="btn btn-just-icon btn-simple btn-twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/"
                        class="btn btn-just-icon btn-simple btn-dribbble">
                        <i class="fa fa-dribbble"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/"
                        class="btn btn-just-icon btn-simple btn-instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>

        </div>
    </footer>
</body>
